In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats

In [8]:
# Generate random data
voter_race = np.random.choice(a= ["asian","black","hispanic","other","white"],
                              p = [0.05, 0.15 ,0.25, 0.05, 0.5],
                              size=1000)

voter_age = stats.poisson.rvs(loc=18,
                              mu=30,
                              size=1000)

voter_age

array([36, 46, 54, 55, 44, 50, 50, 42, 48, 45, 44, 38, 50, 50, 44, 41, 45,
       54, 46, 47, 50, 45, 49, 43, 53, 49, 41, 48, 54, 48, 47, 46, 51, 46,
       42, 43, 43, 46, 39, 52, 47, 50, 48, 54, 52, 47, 41, 41, 53, 49, 48,
       50, 50, 45, 43, 49, 55, 46, 41, 44, 51, 51, 43, 43, 48, 42, 45, 37,
       41, 45, 49, 54, 56, 43, 46, 41, 55, 48, 51, 48, 48, 50, 55, 43, 40,
       61, 53, 40, 49, 37, 52, 49, 45, 41, 46, 56, 53, 43, 44, 51, 59, 49,
       37, 46, 47, 61, 41, 48, 41, 47, 40, 54, 44, 49, 47, 48, 48, 54, 53,
       55, 53, 54, 55, 55, 52, 53, 48, 54, 47, 46, 50, 47, 36, 55, 51, 45,
       52, 55, 45, 50, 53, 44, 49, 53, 51, 39, 48, 43, 49, 51, 40, 50, 38,
       45, 48, 54, 37, 40, 50, 44, 52, 55, 64, 51, 48, 54, 56, 51, 44, 45,
       48, 46, 49, 41, 56, 51, 45, 47, 53, 54, 52, 47, 45, 59, 48, 43, 49,
       54, 50, 56, 45, 50, 51, 48, 42, 37, 48, 54, 37, 48, 56, 51, 44, 34,
       53, 49, 48, 45, 47, 48, 48, 48, 41, 51, 52, 59, 45, 41, 48, 47, 46,
       49, 50, 48, 49, 51, 45, 46, 45, 44, 50, 45, 49, 51, 47, 52, 42, 57,
       52, 55, 42, 49, 48, 58, 39, 49, 51, 40, 52, 45, 44, 53, 49, 44, 45,
       46, 47, 51, 49, 42, 45, 54, 47, 46, 49, 53, 41, 50, 43, 51, 54, 46,
       37, 47, 49, 47, 39, 54, 56, 59, 46, 43, 53, 54, 51, 39, 53, 51, 52,
       48, 43, 35, 45, 47, 45, 48, 43, 52, 45, 44, 46, 47, 55, 49, 42, 51,
       50, 67, 48, 41, 57, 50, 40, 46, 44, 58, 45, 44, 39, 51, 40, 43, 50,
       52, 54, 50, 44, 49, 54, 48, 53, 54, 55, 42, 55, 49, 47, 54, 43, 55,
       52, 48, 59, 43, 45, 43, 41, 50, 53, 48, 50, 37, 51, 54, 47, 52, 44,
       47, 38, 36, 51, 47, 35, 49, 45, 45, 57, 47, 49, 53, 45, 45, 49, 46,
       58, 46, 45, 45, 47, 45, 46, 51, 48, 43, 54, 49, 47, 43, 68, 47, 51,
       54, 46, 47, 47, 39, 43, 46, 47, 54, 49, 54, 45, 55, 48, 46, 43, 45,
       45, 44, 39, 54, 46, 46, 49, 53, 44, 42, 51, 50, 46, 42, 38, 45, 44,
       62, 62, 47, 55, 42, 44, 42, 43, 36, 48, 41, 51, 47, 47, 49, 53, 52,
       39, 45, 49, 43, 42, 41, 45, 48, 39, 42, 44, 53, 52, 40, 40, 52, 56,
       54, 50, 56, 46, 60, 52, 51, 53, 46, 51, 47, 51, 45, 48, 45, 57, 45,
       40, 57, 56, 46, 46, 35, 54, 51, 45, 56, 57, 42, 42, 50, 40, 51, 44,
       54, 56, 52, 41, 48, 52, 43, 47, 53, 51, 53, 61, 49, 47, 48, 50, 49,
       53, 53, 57, 46, 34, 46, 42, 48, 53, 52, 62, 55, 46, 48, 56, 53, 55,
       40, 57, 51, 59, 48, 47, 52, 44, 57, 46, 42, 42, 46, 47, 44, 52, 51,
       49, 43, 53, 49, 46, 43, 46, 57, 45, 42, 54, 50, 41, 54, 47, 53, 40,
       45, 49, 48, 45, 52, 46, 51, 47, 52, 42, 49, 43, 47, 55, 47, 35, 56,
       42, 43, 58, 49, 44, 51, 46, 49, 45, 52, 36, 48, 50, 48, 44, 50, 43,
       48, 43, 46, 48, 60, 49, 43, 47, 47, 39, 40, 42, 47, 52, 46, 49, 39,
       43, 44, 48, 41, 48, 52, 50, 45, 48, 43, 43, 51, 46, 57, 51, 48, 56,
       55, 62, 42, 44, 53, 49, 43, 48, 57, 50, 63, 46, 48, 52, 45, 43, 50,
       40, 44, 42, 36, 41, 49, 45, 59, 56, 43, 42, 50, 40, 48, 54, 49, 44,
       50, 53, 44, 44, 56, 39, 44, 49, 45, 53, 50, 42, 36, 42, 45, 45, 52,
       41, 44, 45, 41, 47, 47, 55, 48, 39, 50, 40, 49, 52, 52, 54, 46, 49,
       57, 49, 55, 47, 41, 56, 46, 44, 40, 47, 46, 51, 46, 46, 47, 50, 55,
       61, 50, 50, 59, 37, 50, 45, 45, 50, 52, 53, 40, 38, 48, 51, 44, 44,
       63, 51, 33, 57, 58, 43, 41, 42, 57, 58, 45, 54, 50, 51, 46, 49, 40,
       53, 42, 46, 47, 48, 48, 52, 50, 51, 39, 61, 44, 52, 48, 53, 46, 48,
       43, 44, 44, 51, 43, 58, 45, 39, 41, 54, 36, 50, 50, 51, 52, 55, 50,
       53, 46, 51, 37, 45, 44, 48, 49, 46, 49, 43, 49, 39, 51, 41, 59, 46,
       46, 49, 46, 57, 48, 60, 38, 57, 53, 48, 48, 52, 52, 44, 49, 45, 47,
       49, 52, 39, 46, 45, 42, 52, 31, 50, 57, 46, 46, 57, 54, 59, 55, 47,
       53, 52, 44, 48, 49, 41, 51, 47, 50, 55, 48, 38, 45, 53, 52, 48, 53,
       56, 50, 49, 43, 59, 49, 42, 45, 47, 53, 44, 50, 44, 54, 56, 47, 45,
       62, 52, 44, 56, 57, 54, 49, 43, 51, 51, 53, 45, 45, 44, 49, 45, 52,
       47, 41, 52, 46, 50, 70, 42, 46, 48, 44, 41, 45, 44, 41, 45, 51, 52,
       44, 51, 45, 39, 42, 51, 49, 48, 50, 42, 54, 54, 46, 46, 46, 57, 45,
       61, 52, 47, 50, 54, 46, 48, 49, 42, 43, 51, 47, 49, 51, 53, 44, 47,
       53, 43, 44, 41, 44, 46, 47, 44, 47, 43, 47, 60, 48, 47, 51, 55, 47,
       52, 56, 47, 39, 44, 55, 42, 49, 45, 47, 44, 47, 48, 45, 47, 40, 45,
       43, 48, 40, 50, 50, 49, 54, 55, 57, 49, 51, 57, 52, 38, 45, 45, 54,
       46, 43, 53, 38, 55, 43, 44, 43, 50, 49, 40, 54, 46, 51])

In [21]:
# Group age data by race
voter_frame = pd.DataFrame({"race":voter_race,"age":voter_age})
voter_ids = voter_frame.groupby("race").groups

voter_frame

     age      race
0     36     white
1     46     white
2     54     white
3     55  hispanic
4     44     black
5     50     white
6     50     black
7     42     white
8     48     white
9     45     white
10    44     asian
11    38  hispanic
12    50  hispanic
13    50  hispanic
14    44  hispanic
15    41     white
16    45     white
17    54     other
18    46     white
19    47     white
20    50     white
21    45     white
22    49  hispanic
23    43     white
24    53     white
25    49     black
26    41     white
27    48  hispanic
28    54     white
29    48  hispanic
..   ...       ...
970   48     black
971   40  hispanic
972   50  hispanic
973   50     black
974   49     white
975   54     white
976   55     black
977   57     white
978   49     asian
979   51     white
980   57     white
981   52     black
982   38  hispanic
983   45     white
984   45     white
985   54     other
986   46     white
987   43     white
988   53  hispanic
989   38  hispanic
990   55     white
991   43  hispanic
992   44  hispanic
993   43  hispanic
994   50     white
995   49     black
996   40  hispanic
997   54  hispanic
998   46     white
999   51     white

[1000 rows x 2 columns]

In [23]:
# Extract individual groups
asian = voter_age[voter_ids["asian"]]
black = voter_age[voter_ids["black"]]
hispanic = voter_age[voter_ids["hispanic"]]
other = voter_age[voter_ids["other"]]
white = voter_age[voter_ids["white"]]

hispanic

array([55, 38, 50, 50, 44, 49, 48, 48, 51, 46, 43, 39, 50, 41, 49, 50, 43,
       56, 46, 55, 48, 49, 52, 49, 45, 61, 41, 40, 54, 49, 48, 52, 48, 45,
       52, 48, 64, 54, 45, 47, 54, 47, 56, 48, 37, 54, 37, 56, 53, 45, 59,
       49, 44, 45, 57, 58, 39, 40, 52, 44, 46, 42, 54, 47, 50, 43, 54, 47,
       54, 46, 54, 51, 51, 45, 44, 51, 50, 40, 44, 51, 52, 50, 54, 54, 55,
       43, 51, 54, 47, 52, 36, 47, 35, 45, 49, 45, 45, 49, 47, 45, 46, 54,
       49, 46, 45, 48, 46, 42, 51, 50, 46, 42, 44, 41, 51, 47, 47, 43, 39,
       42, 52, 51, 57, 46, 51, 56, 52, 41, 47, 61, 49, 47, 50, 53, 34, 42,
       48, 62, 55, 46, 48, 40, 59, 47, 44, 52, 53, 53, 52, 55, 49, 52, 36,
       50, 46, 49, 47, 48, 44, 53, 49, 45, 43, 50, 44, 40, 44, 36, 42, 45,
       44, 45, 47, 55, 49, 49, 41, 56, 40, 51, 46, 46, 50, 61, 50, 45, 53,
       40, 57, 43, 54, 49, 53, 42, 51, 39, 50, 55, 53, 46, 37, 49, 43, 41,
       53, 48, 44, 49, 52, 42, 31, 50, 59, 52, 48, 48, 53, 48, 59, 49, 42,
       44, 47, 62, 56, 43, 44, 70, 42, 46, 41, 45, 44, 52, 48, 54, 57, 52,
       47, 42, 53, 47, 44, 47, 47, 42, 49, 45, 45, 45, 43, 40, 50, 38, 53,
       38, 43, 44, 43, 40, 54])

In [18]:
# Perform the ANOVA
stats.f_oneway(asian, black, hispanic, other, white)

F_onewayResult(statistic=0.36951632344516511, pvalue=0.83045144512495261)